<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  * {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 50%;
  
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
  text-align: start;
  background-color: #f1f1f1;
}
</style>
<div class="content">
  <form [formGroup]='serach' class="form-inline waves-light" mdbWavesEffect >
    <div class="md-form mt-0" style="width: 100%;">
      <input formControlName='keyword' class="form-control mr-sm-2" type="text" placeholder="Search" style="width: 80%;">
      <button mat-raised-button class="btn btn-outline-primary btn-info btn-md"
      color='accent' type="button" (click)='searching()'>Search</button>
    </div>
  </form>

  <div class=" row" *ngIf='links.length'>
    <div class=" col-12">
      <div class=" card card-chart">
        <div class=" card-body">
          <div class="row" >
            <div class="col-md-12">
              <div class="row" *ngFor="let item of links">
                <div class="col-8 col-sm-8 col-md-8 col-lg-8">
                  <div class="row">
                    <div class="column">
                      <div class="card">
                        <iframe width="380" height="315"
                           [src]="item.link |safe" allow="fullscreen">
                      </iframe>
                      </div>  
                    </div>
                    <div class="column">
                      <div class="card">
                        <h4><b>Title:</b> {{item.title}}</h4>
                      <h4><b>Description:</b>{{item.description}}</h4>
                      </div>
                    </div>
                  </div>
                </div>
            </div>


          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>>
