
<div class=" content">


  <div class=" row">
    <div class=" col-12">
      <div class=" card card-chart">
        <div class=" card-body" style="    background-size: cover;
        background-repeat: no-repeat;
        background-position: 0% 50%;background-image: url('assets/img/Book-WallPapers.jpg');">
            <div class="row" >
              <div class ='col-2 col-sm-2 col-md-2 col-lg-2'></div>
              <div class ='col-8 col-sm-8 col-md-8 col-lg-8'>
                  <div class="row">
                    <div class="col-2 col-sm-4 col-md-2 col-lg-3"></div>
                    <div class="col-10 col-sm-8 col-md-8 col-lg-8">
                      <h1 style="padding-top: 2%;color: #FFF98B;">Let's make Notes!</h1>
                    </div>
                  </div>
                  <h3 style="display: inline;color: #FFF98B;">Having pressure of exams and have no notes to refer, This is the place to get handouts. Its always a priority to score good marks, to score good marks, there has to be good study material or say notes. Here at<strong> PrepNotes</strong>, get notes ready to read and get your queries solved on the spot. We provide you answers to the questions based on the document you provide.Its easy, fact and a fun way to study.</h3>
                  <h3 style="color: #FFF98B">Easy Steps to follow: </h3>
                  <h3 style="color: #FFF98B">1. Upload documents of any format.</h3>
                  <h3 style="color: #FFF98B">2. Ask a question and hit the get answer button for you answer.</h3>
                  <h3 style="color: #FFF98B">3. To generate notes, just upload a document and hit th get notes button. A ppt format file gets downloaded to the system.</h3>
                  <br>

                <div class="row">
                  <div class="col-2 col-sm-0 col-md-2 col-lg-3 "></div>
                  <div class="col-8 col-sm-10 col-md-10 col-lg-9 d-inline">
                    <button  type="button" class="btn btn-outline-primary btn-info btn-lg" >Register</button>&nbsp;
                    <app-login></app-login>
                  </div>
                </div>
                <br>
                <br>

              </div>
              <div class ='col-xs-2 col-sm-2 col-md-2 col-lg-2 '></div>

            </div>
        </div>
      </div>
    </div>
  </div>


  <div class=" row">
    <div class=" col-12">
      <div class=" card card-chart">
        <div class=" card-body">
          <div class="row" >
            <!-- <div class ='col-3 col-sm-3 col-md-5 col-lg-5 '></div> -->
            <div class ='col-12 col-sm-12 col-md-12 col-lg-12' style="text-align: center;">
              <h2 >Features!</h2>
            </div>
            <!--



              ********************* Replace with "argon-design-system-angular" or "blk-design-system-angular" tabs*********************







             -->
            <div class="col-md-12">
              <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                      <ngb-tabset >
                          <ngb-tab title="   &nbsp;&nbsp;&nbsp;Get Notes&nbsp;&nbsp;&nbsp;&nbsp;">
                              <ng-template ngbTabContent>
                                <p>Notes working description:</p>
                                <div class="row">
                                <div class="col-2 col-sm-2 col-md-2 col-lg-2"></div>
                                <div class="col-8 col-sm-8 col-md-8 col-lg-8">
                                <video style="text-align: center;margin: 0 auto;display: block;" width="100%" height="100%" controls>
                                  <source src="assets/video/1.mp4" type="video/mp4">
                                </video>
                              </div>
                              </div>
                              </ng-template>
                          </ngb-tab>
                          <ngb-tab title="&nbsp;&nbsp;Get Answers&nbsp;&nbsp;&nbsp;">
                              <ng-template ngbTabContent>
                                <p>Notes working description:</p>
                                <div class="row">
                                <div class="col-2 col-sm-2 col-md-2 col-lg-2"></div>
                                <div class="col-8 col-sm-8 col-md-8 col-lg-8">
                                <video style="text-align: center;margin: 0 auto;display: block;" width="100%" height="100%" controls>
                                  <source src="assets/video/1.mp4" type="video/mp4">
                                </video>
                              </div>
                              </div>
                              </ng-template>
                          </ngb-tab>
                          <ngb-tab title="Need Solution">
                              <ng-template ngbTabContent>
                                <p>Notes working description:</p>
                                <div class="row">
                                <div class="col-2 col-sm-2 col-md-2 col-lg-2"></div>
                                <div class="col-8 col-sm-8 col-md-8 col-lg-8">
                                <video style="text-align: center;margin: 0 auto;display: block;" width="100%" height="100%" controls>
                                  <source src="assets/video/1.mp4" type="video/mp4">
                                </video>
                              </div>
                              </div>
                              </ng-template>
                          </ngb-tab>
                          <ngb-tab title="Visual Learning">
                            <ng-template ngbTabContent>
                              <p>Notes working description:</p>
                                <div class="row">
                                <div class="col-2 col-sm-2 col-md-2 col-lg-2"></div>
                                <div class="col-8 col-sm-8 col-md-8 col-lg-8">
                                <video style="text-align: center;margin: 0 auto;display: block;" width="100%" height="100%" controls>
                                  <source src="assets/video/1.mp4" type="video/mp4">
                                </video>
                              </div>
                              </div>
                            </ng-template>
                        </ngb-tab>
                      </ngb-tabset>
                  </div>
              </div>

          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

