
<div class="content">
  <div class=" row">
    <div class=" col-12">
      <div class=" card ">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <p >Drop or select .docx files to upload</p>
            </div>
            <div class=" col-sm-6 text-left">
            </div>
            <div class="card-body" style="padding-top: 0%;">
              <ngx-dropzone (change)="onSelect($event)" [accept]="'application/vnd.openxmlformats-officedocument.wordprocessingml.document'">
                <ngx-dropzone-label>Click here to select a .docx file</ngx-dropzone-label>
                <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                    <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
                </ngx-dropzone-preview>
              </ngx-dropzone>
              <div class="row" style="margin-top: 1%;">
                <div class=" col-lg-5 col-3 col-md-5 col-sm-4 "></div>
                <div *ngIf="!uploadingSpinner && !(files.length == 0)" class="col-lg-6 col-6 col-md-7 col-sm-6 " style="margin-left: -2%;">
                 <button  (click)='uploadDoc()' type="button" class="btn btn-outline-primary btn-info btn-lg" mdbBtn color="primary" class="waves-light btn-lg">Upload</button>
                </div>
                <div *ngIf="!uploadingSpinner && (files.length == 0)" class="col-lg-6 col-6 col-md-7 col-sm-6 " style="margin-left: -2%;">
                  <button  type="button" disabled class="btn btn-outline-primary btn-info btn-lg"mdbBtn color="primary" class="waves-light btn-lg" >Upload</button>
                 </div>
                <div *ngIf="uploadingSpinner" class="col-lg-6 col-6 col-md-7 col-sm-6 " style="margin-left: -2%;">
                  <h5>Uploading Files..Please wait</h5>
                  <button  type="button" disabled class="btn btn-outline-primary btn-info " mdbBtn color="primary" class="waves-light btn-lg">Upload</button>
                </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>



  <div class=" row" >
    <div class=" col-12">
      <div class=" card ">
        <div class=" ">
          <div class=" row">
            <div class=" col-sm-6 text-left">
            </div>
            <div class=" col-sm-6 text-left">
            </div>
            <div class="card-body" >
              <mat-accordion >
                <mat-expansion-panel [disabled]='!uploaded'>
                  <mat-expansion-panel-header>
                    Ask a Qestion
                  </mat-expansion-panel-header>
                  <mat-card>

                  <mat-card>
                    <form [formGroup]='questionForm' >
                      <div *ngIf="answerReady">
                        <div class="row">
                          <div class="col-12 col-sm-12 col-lg-8 col-md-8" style="margin-top: 5px;">
                            <input formControlName="question" type="text" class="form-control form-control-success " id="inputSuccess1" placeholder="Ask a Question">
                            <!-- <mat-error ">Please enter a valid question</mat-error> -->
                          </div>
                          <div  class="col-0 col-sm-0 col-lg-4 col-md-4">
                            <button mat-raised-button class="btn btn-outline-primary btn-info btn-md"
                            mdbBtn color="primary" class="waves-light" type="button" (click)='question()'>Ask</button>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="!answerReady">
                        <div class="row">
                          <div class="col-12 col-sm-12 col-lg-8 col-md-8" style="margin-top: 5px;">
                            <h4>Generating answer..Please wait</h4>
                          </div>
                          <div  class="col-0 col-sm-0 col-lg-4 col-md-4">
                            <button type="button" disabled class="btn btn-outline-primary btn-info btn-lg" >Ask</button>
                          </div>
                        </div>
                      </div>
                    </form>
                    <hr>
                  </mat-card>
                  <mat-accordion  style="position: relative; top: 30px;">
                     <mat-expansion-panel *ngFor="let item of qNa">
                      <mat-expansion-panel-header>
                        {{item.question}}
                      </mat-expansion-panel-header>
                      <p *ngIf='! (item.answer == "") ' > {{item.answer}}</p>
                      <p *ngIf=' (item.answer == "") ' > No answer Found</p>
                    </mat-expansion-panel>
                  </mat-accordion>
                  <!-- <p *ngIf ='!qNa' class ="info-text mat-body-1" >No questions Asked</p> -->
                  </mat-card>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class=" row">
    <div class=" col-12">
      <div class=" card ">
        <div class=" ">
          <div class=" row">
            <div class=" col-sm-6 text-left">
            </div>
            <div class=" col-sm-6 text-left">
            </div>
            <div class="card-body" >
              <mat-accordion >
                <mat-expansion-panel [disabled]='!uploaded' >
                  <mat-expansion-panel-header>
                    Generate Notes
                  </mat-expansion-panel-header>
                  <form  [formGroup]='notesForm'>
                    <div *ngIf='!notesReady && !waitingForDownload'>
                      <div class="row">
                        <div class="col-12 col-sm-12 col-lg-5 col-md-8">
                          <input formControlName="name" type="text" class="form-control form-control-success " id="inputSuccess1" placeholder="Please enter the name to be given to the notes.">
                          <p>Click the Button to generate notes from the uploaded document.(After generating you can preview notes before downloading.)</p>
                        </div>
                        <div  class="col-0 col-sm-0 col-lg-4 col-md-4">
                          <button mat-raised-button class="btn btn-outline-primary btn-info btn-md"
                          mdbBtn color="primary" class="waves-light" type="submit" (click)='generateNotes()'>Generate Notes</button>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="!notesReady && waitingForDownload">
                      <h4>Processing Documents.Please wait..</h4>
                      <mat-spinner style="stroke: blue;"></mat-spinner>
                    </div>
                    <div *ngIf='notesReady'>
                          <p *ngIf="!preview" class="d-inline">Notes have been generated.(You can preview notes before downloading.)</p>&nbsp;&nbsp;&nbsp;
                          <button *ngIf="!preview" mat-raised-button class="btn btn-outline-primary btn-info btn-md"
                          mdbBtn color="primary" class="waves-light" type="button" (click)='previewDoc()'>&nbsp;&nbsp; Preview Notes&nbsp;&nbsp;</button>
                            <ngx-doc-viewer *ngIf="preview" [url]='link' viewer="google" style="width:100%;height:50vh;"></ngx-doc-viewer>
                            <button mat-raised-button class="btn btn-outline-primary btn-info btn-md"
                            mdbBtn color="primary" class="waves-light" type="button" (click)='downloadNotes()' >Download Notes</button>
                            <button *ngIf="notGlobal && !settingG" mat-raised-button class="btn btn-outline-primary btn-info btn-md"
                            mdbBtn color="primary" class="waves-light" type="button" (click)='setGlobal()' >Add To Global Notes</button>
                            <button *ngIf="!notGlobal && !settingG" mat-raised-button class="btn btn-outline-primary btn-info btn-md"
                            mdbBtn color="primary" class="waves-light" type="button" (click)='setNotGlobal()' >Remove from Global Notes</button>
                            <button *ngIf="notGlobal && settingG" disabled mat-raised-button class="btn btn-outline-primary btn-info btn-md"
                            mdbBtn color="primary" class="waves-light" type="button" (click)='setGlobal()' >Add To Global Notes</button>
                            <button *ngIf="!notGlobal && settingG" disabled mat-raised-button class="btn btn-outline-primary btn-info btn-md"
                            mdbBtn color="primary" class="waves-light" type="button" (click)='setNotGlobal()' >Remove from Global Notes</button>
                          </div>
                  </form>
                  <hr>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

