<style>
  button{
    background-color: transparent;
    background-repeat: no-repeat;
    border:.25px solid #f4c430;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    box-shadow: black;
    color:#f4c430;
    text-shadow: 4px 4px 5px #7c0a02, 0 0 25px #FFF98B, 0 0 5px saddlebrown;
    font-size: 200%;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
  }
  button:hover{
    background-color: #994d00;
    color:white;
    border-radius: 2px;
    border:0.5px solid #994d00;
  }
</style>
<button  type="button" (click)='open()'>&nbsp;&nbsp;&nbsp;&nbsp;Login&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
