body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
.modal.fade {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.modal-dialog {
  vertical-align:middle;
  height:18em;
  background-color: rgba(0,0,0,0.5);
}

.signup-form h2{
	color: black;
	margin: 0 0 15px;
	position: relative;
	text-align: center;
}
.signup-form h2:before, .signup-form h2:after{
	content: "";
	height: 2px;
	width: 25%;
	background: #d4d4d4;
	position: absolute;
	top: 50%;
	z-index: 2;
}
.signup-form h2:before{
	left: 0;
}
.signup-form h2:after{
	right: 0;
}
.signup-form .hint-text{
	color: white;
	margin-bottom: 30px;
	text-align: center;
}
.signup-form form{
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: black;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.signup-form .form-group{
	margin-bottom: 20px;
}
.signup-form input[type="checkbox"]{
	margin-top: 3px;
}
.signup-form .btn{
	font-size: 16px;
	font-weight: bold;
	min-width: 140px;
	background-color: green;
	outline: none !important;
}

.signup-form .btn:hover{
	font-size: 16px;
	font-weight: bold;
	min-width: 140px;
	background-color: transparent;
	outline: none !important;
}

.signup-form .row div:first-child{
	padding-right: 10px;
}
.signup-form .row div:last-child{
	padding-left: 10px;
}
.signup-form a{
	color: #fff;
	text-decoration: underline;
}
.signup-form a:hover{
	text-decoration: none;
}
.signup-form form a{
	color: #5cb85c;
	text-decoration: none;
}
.signup-form form a:hover{
	text-decoration: underline;
}

.buttonb {
	background-color: #4CAF50; /* Green */
	border: none;
	border-radius: 95px;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
  }

  .button1 {
	background-color: #ffb606;
	color: white;
	border: 0px solid #4CAF50;
  }

  .button1:hover {
	background-color: transparent;
	color: white;
	border: 1px solid white;
  }

  .linkbtn {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
  }
