/* You can add global styles to this file, and also import other style files */
.carousel-item {
  &.active, &.carousel-item-right, &.carousel-item-next {
    display: flex !important;
    flex-wrap: wrap
  }
}
mdb-carousel .carousel-indicators {
  display: none;
}
mdb-carousel .carousel-multi-item .controls-top .btn-floating {
  color: black;
  padding-left: 5px;
  height: 40px;
  width: 20px;
  border-radius: 50px;
  z-index: 2;
  background:white;
}

mdb-carousel .fas{
  padding-top: 15px;
  size: 50px;
}
