<div class="content">
  <div class=" row">
    <div class=" col-12">
      <div class=" card ">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h2 class=" card-title">Welcome to PrepNotes</h2>
            </div>
            <div class=" col-sm-6 text-left">
            </div>
            <div class="card-body">
              <div style="border: 1px solid;">
                <!--****** agron slider -->
                <!-- <ngx-extended-pdf-viewer [src]="'assets/pdf/1.pdf'" useBrowserLocale="true" height="80vh"></ngx-extended-pdf-viewer> -->
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br><br>
                <br>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" row">
    <div class=" col-12">
      <div class=" card ">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h2 class=" card-title">Recently asked Questions</h2>
            </div>
            <div class=" col-sm-6 text-left">
            </div>
            <div class="card-body">
              <div style="border: 1px solid;">
                <!--****** agron slider -->
                <mat-expansion-panel >
                  <mat-expansion-panel-header>
                    s1
                  </mat-expansion-panel-header>
                 <p> n1</p>
                 <p> n2</p>
                 <p> n3</p>
                </mat-expansion-panel>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br><br>
                <br>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" row">
    <div class=" col-12">
      <div class=" card ">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <h2 class=" card-title">Recently created Notes</h2>
            </div>
            <div class=" col-6 col-sm-6 col-md-6 col-lg-6 text-left">
            </div>
            <div class="card-body">
              <div style="border: 1px solid;">
                <!--****** agron slider -->
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br><br>
                <br>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" row">
    <div class=" col-12">
      <div class=" card ">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h2 class=" card-title">Recently viewed Videos</h2>
            </div>
            <div class=" col-sm-6 text-left">
            </div>
            <div class="card-body">
              <div style="border: 1px solid;">
                <!--****** agron slider -->
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br><br>
                <br>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" row">
    <div class=" col-12">
      <div class=" card ">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h2 class=" card-title">Quiz Results</h2>
            </div>
            <div class=" col-sm-6 text-left">
            </div>
            <div class="card-body">
              <div style="border: 1px solid;">
                <!--****** agron slider -->
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br><br>
                <br>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" row">
    <div class=" col-12">
      <div class=" card ">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h2 class=" card-title">Topic Notes</h2>
            </div>
            <div class=" col-sm-6 text-left">
            </div>
            <div class="col-md-12">
              <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                      <ngb-tabset >
                          <ngb-tab title="   &nbsp;&nbsp;&nbsp;stream1&nbsp;&nbsp;&nbsp;&nbsp;">
                              <ng-template ngbTabContent>
                                <mat-accordion >
                                  <mat-expansion-panel >
                                    <mat-expansion-panel-header>
                                      s1
                                    </mat-expansion-panel-header>
                                   <p> n1</p>
                                   <p> n2</p>
                                   <p> n3</p>
                                  </mat-expansion-panel>
                                  <mat-expansion-panel >
                                    <mat-expansion-panel-header>
                                      s2
                                    </mat-expansion-panel-header>
                                   <p> n1</p>
                                   <p> n2</p>
                                   <p> n3</p>
                                  </mat-expansion-panel>

                                </mat-accordion>
                              </ng-template>
                          </ngb-tab>
                          <ngb-tab title="&nbsp;&nbsp;stream2&nbsp;&nbsp;&nbsp;">
                              <ng-template ngbTabContent>
                                <mat-accordion >
                                  <mat-expansion-panel >
                                    <mat-expansion-panel-header>
                                      s1
                                    </mat-expansion-panel-header>
                                   <p> n1</p>
                                   <p> n2</p>
                                   <p> n3</p>
                                  </mat-expansion-panel>
                                  <mat-expansion-panel >
                                    <mat-expansion-panel-header>
                                      s2
                                    </mat-expansion-panel-header>
                                   <p> n1</p>
                                   <p> n2</p>
                                   <p> n3</p>
                                  </mat-expansion-panel>

                                </mat-accordion>
                              </ng-template>
                          </ngb-tab>
                          <ngb-tab title="stream3">
                              <ng-template ngbTabContent>
                                <mat-accordion >
                                  <mat-expansion-panel >
                                    <mat-expansion-panel-header>
                                      s1
                                    </mat-expansion-panel-header>
                                   <p> n1</p>
                                   <p> n2</p>
                                   <p> n3</p>
                                  </mat-expansion-panel>
                                  <mat-expansion-panel >
                                    <mat-expansion-panel-header>
                                      s2
                                    </mat-expansion-panel-header>
                                   <p> n1</p>
                                   <p> n2</p>
                                   <p> n3</p>
                                  </mat-expansion-panel>

                                </mat-accordion>
                            </ng-template>
                        </ngb-tab>
                      </ngb-tabset>
                  </div>
              </div>

          </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
