<div class="content">
  <div class=" row">
    <div class=" col-12">
      <div class=" card ">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h2 class=" card-title" style="font-size: xx-large;font-weight: bold;"><b>Welcome to prepNotes</b></h2>
            </div>
            <div class=" col-sm-6 text-left">
            </div>
            <div class="card-body">

                <!--****** agron slider -->
                <!-- <ngx-extended-pdf-viewer [src]="'assets/pdf/1.pdf'" useBrowserLocale="true" height="80vh"></ngx-extended-pdf-viewer> -->
                <section class="container">
                  <mdb-carousel [isControls]="true" [animation]="'slide'">
                    <mdb-carousel-item>
                      <img class="d-block w-100" src="assets/img/slide2.jpg" alt="First slide">
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img class="d-block w-100" src="assets/img/slide3.jpg" alt="Second slide">
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img class="d-block w-100" src="assets/img/slide4.jpg" alt="Third slide">
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img class="d-block w-100" src="assets/img/slide5.jpg" alt="Third slide">
                    </mdb-carousel-item>
                  </mdb-carousel>
                </section>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class=" row" >
    <div class=" col-12">
      <div class=" card ">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h2 class=" card-title"><b>Recently asked Questions</b></h2>
            </div>
            <div class=" col-sm-6 text-left">
            </div>
            <div class="card-body" >
              <div *ngIf='qNa.length' style="border: 1px solid black;">
                <!--****** agron slider -->
                <mat-expansion-panel *ngFor='let q of qNa | paginate: {id:"some", itemsPerPage: 5, currentPage: p, totalItems:qNa.length }' >
                  <mat-expansion-panel-header>
                    {{q.question}}
                  </mat-expansion-panel-header>
                 {{q.answer}}
                </mat-expansion-panel>
                <pagination-controls  id="some"
                      maxSize="9"
                      (pageChange)="p = $event"
                      directionLinks="true"
                      autoHide="true"
                      responsive="true"
                      previousLabel="Previous"
                      nextLabel="Next"
                      screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="page"
                      screenReaderCurrentLabel="You're on page">
</pagination-controls>
              </div>
              <div *ngIf="!qNa.length">
                <a href="/notes"><h3 class="card-title">Click here to get answers to your questions</h3></a><br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class=" row">
    <div class=" col-12">
      <div class="card">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <h2 class=" card-title"><b>Recently created Notes</b></h2>
            </div>
            <div class=" col-6 col-sm-6 col-md-6 col-lg-6 text-left">
            </div>
            <div class="card" style="padding: 14px;">
              <div *ngIf="slides.length" >
                <!--****** agron slider -->
                <mdb-carousel   class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
                [animation]="'slide'" [interval]="'0'">
                    <mdb-carousel-item  *ngFor="let item of slides; let i = index">
                      <div class="col-md-4 pb-2" *ngFor="let card of item; let cardIndex = index"  >
                        <mdb-card class="my-1 h-100" style="border: 1px solid; min-height: 350px;"><!--background-color: gray; -->
                          <mdb-card-img src="assets/img/note.png" style="width:20%;height:40%;"></mdb-card-img>
                          <mdb-card-body>
                            <mdb-card-title>
                              <h4>{{card.Name}}</h4>
                            </mdb-card-title>
                            <p>{{card.DateAndTime}}</p>
                          </mdb-card-body>
                          <mdb-card-footer>
                            <div class="row">
                              <a style="width: 100%;" href="#" mdbBtn color="primary" class="waves-light" (click)='download(card.downloadUrl)' mdbWavesEffect>Download</a>
                          </div>
                          <div class="row">
                            <button style="width: 100%;" *ngIf="!card.Global && !settingG " mat-raised-button class="btn btn-outline-primary btn-info btn-md"
                            mdbBtn color="primary" class="waves-light" type="button" (click)='setGlobal(card.downloadUrl)' >Add To Global Notes</button>
                          </div>
                          <div class="row">
                            <button style="width: 100%;" *ngIf="card.Global && !settingG" mat-raised-button class="btn btn-outline-primary btn-info btn-md"
                            mdbBtn color="primary" class="waves-light" type="button" (click)='setNotGlobal(card.downloadUrl)' >Remove from Global Notes</button>
                          </div>
                          <div class="row">
                            <button style="width: 100%;" *ngIf="!card.Global && settingG" disabled mat-raised-button class="btn btn-outline-primary btn-info btn-md"
                            mdbBtn color="primary" class="waves-light" type="button" (click)='setGlobal()' >Add To Global Notes</button>
                          </div>
                          <div class="row">
                          <button style="width: 100%;" *ngIf="card.Global && settingG" disabled mat-raised-button class="btn btn-outline-primary btn-info btn-md"
                            mdbBtn color="primary" class="waves-light" type="button" (click)='setNotGlobal()' >Remove from Global Notes</button>
                            </div>
                            <!-- </div> -->
                          </mdb-card-footer>
                        </mdb-card>
                      </div>
                    </mdb-carousel-item>
                  </mdb-carousel>
              </div>
              <div *ngIf="!slides.length">
                <a href="/notes"><h3 class="card-title">Click here to create your first notes now</h3></a>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class=" row">
    <div class=" col-12">
      <div class="card">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <h2 class=" card-title"><b>Global Notes</b></h2>
            </div>
            <div class=" col-6 col-sm-6 col-md-6 col-lg-6 text-left">
            </div>

            <div class="card" style="padding: 14px;">

              <div *ngIf="gNotes.length">
                <!--****** agron slider -->

                <div class="md-form mt-0 form-inline" style="width: 100%;">
                  <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon>
                  <input  [(ngModel)]="searchText" class="form-control mr-sm-2 ml-3" type="text" placeholder="Search" style="width:95%;">
                </div>
                <div *ngIf="!(list|filter:searchText).length">
                  <h4>No Files with that name</h4>
                </div>
                <mdb-carousel   class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
                [animation]="'slide'" [interval]="'0'">
                    <mdb-carousel-item  *ngFor="let item of list|filter:searchText; let i = index"  style="padding-top: 10px;">
                      <div class="col-md-4 pb-2" *ngFor="let card of item; let cardIndex = index" >
                        <mdb-card class="my-1 h-100" style="border: 1px solid; min-height: 300px;"><!--background-color: gray; -->
                          <mdb-card-img src="assets/img/note.png" style="width:20%;height:40%;"></mdb-card-img>
                          <mdb-card-body>
                            <mdb-card-title>
                              <h4>{{card.Name}}</h4>
                            </mdb-card-title>
                            <p>{{card.DateAndTime}}</p>
                          </mdb-card-body>
                          <mdb-card-footer>
                            <a href="#" mdbBtn color="primary" class="waves-light" (click)='download(card.downloadUrl)' mdbWavesEffect>Download</a>
                          </mdb-card-footer>
                        </mdb-card>
                      </div>
                    </mdb-carousel-item>
                  </mdb-carousel>
              </div>
              <div *ngIf="!gNotes.length" style="border: 1px solid black;">
                <h3 class="card-title">No Global notes Available.</h3>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <h2 class=" card-title"><b>Quiz Results</b></h2>
            </div>
          </div>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>Number</th>
                  <th>Category</th>
                  <th class=" text-center">Max</th>
                  <th class=" text-center">Score</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of quizAll">
                  <td>{{item.num}}</td>
                  <td>{{item.val.type}}</td>
                  <td class=" text-center">10</td>
                  <td class=" text-center">{{item.val.score}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
